Package: com.82flex.singlemute
Name: Single Mute
Version: 1.0
Architecture: iphoneos-arm
Description: Just a single mute icon on the status bar of iOS.
Maintainer: 82Flex <82flex@gmail.com>
Author: 82Flex <82flex@gmail.com>
Section: Tweaks
Depends: firmware (>= 14.0), mobilesubstrate
